/* CSS declarations go here */
.hidden_div{
	display:none;
}
#menu ul li:last-child{   
	float: right;
}

.menu{
	margin: 0;
	padding: 0;
}
body{
	padding-top: 70px;
}

@media screen and (max-width: 768px) {
	body{
		padding-top: 130px;
	}
}
